---
import Button from './Button.astro';
---

<section class="cta grid-lg">

  <div>
    <h2 class="h2">Let Us Tell Your Story</h2>
    <p class="text-muted narrow">
      Lorem ipsum dolor sit amet consectetura. Optio reprehenderit quo omnis nihil enim eligendi eveniet voluptatem aspernatur animi, impedit, voluptatum, architecto consectetur. Maxime!
    </p>
  </div>
  <div class="grid-sm">
    <Button text="Contact Me" link="#" style="secondary" />
    <small class="text-muted">No Commitment contact</small>
  </div>

</section>
