---
import Button from "./Button.astro";
---

<header class="grid-lg">


  <div>
    <h1 class="h1">Your Kind of Designer</h1>
    <p class="text-muted narrow">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio reprehenderit quo omnis nihil enim eligendi eveniet voluptatem aspernatur animi, impedit, voluptatum, architecto consectetur. Maxime!
    </p>
  </div>
  <div class="grid-sm">
    <Button text="Contact Me" link="#" style="secondary" />
    <small class="text-muted">No Commitment contact</small>
  </div>

</header>
