---
import Icon from 'astro-icon';
---

<section class="prgorammer container blur grid-sm">
    <Icon 
        name="programmer"
        width="400px"
        class="programmer-icon"
        alt="Programmer Picture"
        aria-hidden="true"
    />
</section>